.title{
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    display: grid;
    
    padding: 25px;
    width: 50%;
    height: auto;
}









